.reveal section img {
  border: 0;
  box-shadow: none;
  background: rgba(255, 255, 255, 0);
}

.reveal pre code {
    font-size: 16px;
    line-height: 18px;
    max-height: 600px;
}

.reveal table td {
    vertical-align: middle;
}

.reveal ul {
    text-size: 18px;
}
